---
BasedOnStyle: Microsoft
AccessModifierOffset: -4
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
AlignConsecutiveBitFields:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AlignCaseArrows: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: InlineOnly
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakTemplateDeclarations: Yes
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
InsertNewlineAtEOF: true
KeepEmptyLines:
  AtStartOfBlock: false
ObjCBinPackProtocolList: Never
ObjCBlockIndentWidth: 4
PackConstructorInitializers: NextLine
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyExcessCharacter: 200
PenaltyReturnTypeOnItsOwnLine: 1000000
PointerAlignment: Left
SeparateDefinitionBlocks: Always
Standard: c++20
AlwaysBreakTemplateDeclarations: Yes
KeepEmptyLinesAtTheStartOfBlocks: false
