# Project ========================================

/tools/llvm/
vcpkg_bootstrapped_commit.txt
Engine/include/Engine/Core/Version.h

/build/
/out/

.claude/

# CMake ==========================================

CMakeLists.txt.user
CMakeUserPresets.json
/compile_commands.json

# Python =========================================

__pycache__/
*.py[cod]
.venv/

# clangd =========================================

/.cache/

# VS Code ========================================

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

*.vsix

# Windows ========================================

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# macOS ==========================================

.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
._*
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
